html ,body{
  height: 100%;
}

body {
    background-color: #000;
}



/* Authentication */
.auth {
  margin-top: 50px;
    text-align: center;
}

.logo {
    text-align: center;
    font-weight: 100;
    font-size: 80px;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
}

a.logo {
    color: #5B5B5B;
}

a {
    cursor: pointer;
}

.auth .card {
    width: 400px;
    margin: 0 auto;
}


@media screen and (max-width: 480px) {
  .auth .card {
    width: 100%;
  }

  .logo {
    font-size: 60px;
  }
}



.auth .header {
    font-size: 18px;
}

.auth .row {
    margin-bottom: 0px;
}

.auth .username {
  margin-top: 0px;
}

.auth .btn {
    width: 90%;
}

.auth .footer {
    border-top: 1px solid #E9E9E9;
    padding-bottom: 21px;
}

/* /Authentication */



/*Gameview*/

.game-view
{
  color:#fff;
  height: 20em;
  overflow: scroll;
  word-break: break-all;
  overflow-x: hidden;
}
.game-view > p{
  margin: 0.5em;
  font-size: 1em;
}

.current-user-list-btn
{
  position: fixed;
    right: 1em;
    top: 0em;
    margin-top: 4em;

}

.input-chat
{
  color:#fff;
}

.notice-chat
{
  color:#F012FF;
  font-size: 17px;
}

.whisper-chat{
  color:#B0FFFF;
}

.chat-line
{
  border-top: solid;
}
.chat-green{
  color:#0F0;
}
.chat-skill{
  color:#ff1d7c;
  font-weight: bold;
}
.chat-Shoot
{
  color:#ff1d1d;
}
.system-chat
{
  color:#1da0ff;
  font-weight: bold;
}
/*chat*/
.chat-input-wrapper
{

  bottom: 0;
  width: 100%;
}
.input-chat
{
  display: inline-block;
  width: 80% !important;
  float:left;
}
.chat-send-btn
{
  display: inline-block;
  width: 20%;
  margin-top: 0.6em;
}



/* SEARCH */
.search-screen {
    position: fixed;
    overflow-y: none;
    left: 0px;
    top: 0px;
    height:100%;
    width:100%;
    background-color: rgba(0, 0, 0, 0.70);
    z-index: 99;
}

.search-screen input {
    text-align: center;
    font-size: 50px;
    line-height: 80px;
    margin-top: 10vw;
    height: 80px;
    font-weight: 200;
}

.search-screen .btn {
    margin-top: 14px;
    margin-right: 20px;
}

ul.search-results {
    text-align: center;
    font-size: 30px;
    margin-top: 2em;
}

.search-results a {
    padding: 10px;
    display: block;
    color: white;
}

.search-results a + a {
    border-top: 1px solid #5F5F5F;
}

.search-results a:hover {
    background-color: rgba(255, 255, 255, 0.10);
}

@-webkit-keyframes search-enter {
    0% {
        opacity: 0;
        height: 0%;
    }
    100% {
        opacity: 1;
        height: 100%;
    }
}

@keyframes search-enter {
    0% {
        opacity: 0;
        height: 0%;
    }
    100% {
        opacity: 1;
        height: 100%;
    }
}

.search-enter {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-name: search-enter;
    animation-name: search-enter;
}

@-webkit-keyframes search-leave {
    0% {
        opacity: 1;
        height: 100%;
    }
    100% {
        opacity: 0;
        height: 0%;
    }
}

@keyframes search-leave {
    0% {
        opacity: 1;
        height: 100%;
    }
    100% {
        opacity: 0;
        height: 0%;
    }
}

.search-leave {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-name: search-leave;
    animation-name: search-leave;
}



/* right-menu */
.right-menu-screen {
    position: fixed;
    overflow-y: none;
    left: 0px;
    top: 0px;
    height:100%;
    width:100%;
    background-color: rgba(0, 0, 0, 0.70);
    z-index: 99;
}

.right-menu-screen input {
    text-align: center;
    font-size: 50px;
    line-height: 80px;
    margin-top: 10vw;
    height: 80px;
    font-weight: 200;
}

.right-menu-screen .btn {
    margin-top: 14px;
    margin-right: 20px;
}

ul.right-menu-results {
    text-align: center;
    font-size: 30px;
    margin-top: 0px;
}

.right-menu-results a {
    padding: 10px;
    display: block;
    color: white;
}

.right-menu-results a + a {
    border-top: 1px solid #5F5F5F;
}

.right-menu-results a:hover {
    background-color: rgba(255, 255, 255, 0.10);
}

@-webkit-keyframes right-menu-enter {
    0% {
        opacity: 0;
        height: 0%;
    }
    100% {
        opacity: 1;
        height: 100%;
    }
}

@keyframes right-menu-enter {
    0% {
        opacity: 0;
        height: 0%;
    }
    100% {
        opacity: 1;
        height: 100%;
    }
}

.right-menu-enter {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-name: right-menu-enter;
    animation-name: right-menu-enter;
}

@-webkit-keyframes right-menu-leave {
    0% {
        opacity: 1;
        height: 100%;
    }
    100% {
        opacity: 0;
        height: 0%;
    }
}

@keyframes right-menu-leave {
    0% {
        opacity: 1;
        height: 100%;
    }
    100% {
        opacity: 0;
        height: 0%;
    }
}

.right-menu-leave {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-name: right-menu-leave;
    animation-name: right-menu-leave;
}


nav .brand-logo.center
{
  left: 35%;
}


.collapsible-header
{
  color: #000;
  font-weight: bold;
}

/*controller*/

.controller-container
{
  position: absolute;
  margin-top: 1em;
  height: 20%;
  width: 100%;
}

.controller-btn
{
  position: absolute;
  border-radius: 2em;

}

.controller-btn.up
{
  margin-top: -1rem;
  margin-left: 3rem;
}
.controller-btn.down
{
  margin-top: 5rem;
  margin-left: 3rem;

  -ms-transform: rotate(180deg);
   -webkit-transform: rotate(180deg);
   transform: rotate(180deg);
}
.controller-btn.left
{
  margin-top: 2rem;
  margin-left: 0rem;

  -ms-transform: rotate(270deg);
   -webkit-transform: rotate(270deg);
   transform: rotate(270deg);
}
.controller-btn.right
{
  margin-top: 2rem;
  margin-left: 6rem;

  -ms-transform: rotate(90deg);
   -webkit-transform: rotate(90deg);
   transform: rotate(90deg);
}
.controller-btn.map-location
{
  right: 2rem;
  top: 6rem;
}
.controller-btn.attack-btn
{
  right: 2rem;
  top: 0rem;
}
.controller-btn.rest-btn{
  right: 11rem;
  top: 0rem;
}


/*mapview*/
.map-view
{
  color: #FFF;
  font-size: 0.4em;
  text-align: center;
}
.map-view > p{
  margin: 0px;
  line-height: 1em;
}




/* fight-container */

.fight-container-screen {
    position: fixed;
    overflow-y: none;
    left: 0px;
    top: 0px;
    height:100%;
    width:100%;
    background-color: rgba(0, 0, 0, 1);
    z-index: 99;
}

.fight-container-screen input {
    text-align: center;
    font-size: 50px;
    line-height: 80px;
    margin-top: 10vw;
    height: 80px;
    font-weight: 200;
}

.fight-container-screen .btn {
    margin-top: 14px;
    margin-left: 1em;
    margin-right: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}


@-webkit-keyframes fight-container-enter {
    0% {
        opacity: 0;
        height: 0%;
    }
    100% {
        opacity: 1;
        height: 100%;
    }
}

@keyframes fight-container-enter {
    0% {
        opacity: 0;
        height: 0%;
    }
    100% {
        opacity: 1;
        height: 100%;
    }
}

.fight-container-enter {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-name: fight-container-enter;
    animation-name: fight-container-enter;
}

@-webkit-keyframes fight-container-leave {
    0% {
        opacity: 1;
        height: 100%;
    }
    100% {
        opacity: 0;
        height: 0%;
    }
}

@keyframes fight-container-leave {
    0% {
        opacity: 1;
        height: 100%;
    }
    100% {
        opacity: 0;
        height: 0%;
    }
}

.fight-container-leave {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-name: fight-container-leave;
    animation-name: fight-container-leave;
}

.fight-comp-wrapper
{
  height: 100%;
}

/*HP-veiw*/

.HP-view
{
  background: #000;
  height: 10%;
  color: #FFF;
  font-size: 0.8em;
  text-align: center;
  z-index: 9;
}
.HP-view > p{
  margin: 0px;
  line-height: 1em;
}

.hp-bar
{
      letter-spacing: -3px;
}


.hp-vibration
{
  animation-duration: 0.5s;
  animation-name: vibration;
}
@keyframes vibration {
  0%    {margin-left: 5px; margin-top: 5px;}
  10%    {margin-left: 0px; margin-top: 0px;}
  20%    {margin-left: 5px; margin-top: 5px;}
  30%    {margin-left: 0px; margin-top: 0px;}
  40%    {margin-left: 5px; margin-top: 5px;}
  50%    {margin-left: 0px; margin-top: 0px;}
  60%    {margin-left: 5px; margin-top: 5px;}
  70%    {margin-left: 0px; margin-top: 0px;}
  80%    {margin-left: 0px; margin-top: 0px;}
  90%    {margin-left: 5px; margin-top: 5px;}
  100%    {margin-left: 0px; margin-top: 0px;}
}



/*fight-view*/

.fight-view
{
  color:#fff;
  height: calc(90% - 7em);
  overflow: scroll;
  word-break: break-all;
  overflow-x: hidden;
}
.fight-view > p{
  margin: 0.5em;
  font-size: 1em;
}


/*fight-controller*/


.fight-controller-container
{
  position: absolute;
  margin-top: 1em;
  height: 7em;
  width: 100%;
  text-align: center;
}


.fight-btn-ul
{
  display: inline-block;
  *display: inline;
  zoom:1;
}
.fight-btn-li
{
  float: left;
  margin-left: -1px;
  z-index: 1;
}
